@model X.PagedList.IPagedList<EntityLayer.Concrete.Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1 style="text-align:center;color:darkblue">GELEN MESAJLAR</h1>
<br />
<hr />
<table class="table table-bordered">
    <tr style="background-color:darkblue; text-align:center;color:white">
        <th>#</th>
        <th>Gönderen İsim-Soyisim</th>
        <th>Gönderen Mail</th>
        <th>Konu</th>
        <th>Mesaj İçeriği</th>
       <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        
        count++;
        <tr style="background-color:lightgray; text-align:center">
                <td>@count</td>
                <td>@item.NameSurname</td>
                <td>@item.SenderMail</td>
                <td>@item.Subject</td>
                <td>@item.Content</td>
                <td><a href="/Admin/Contact/DeleteContact/@item.ContactID" class="btn btn-danger">Sil</a></td>
             
            </tr>
    }
</table> 

<nav aria-label="pagination-wrapper" class="pagination-wrapper">
    <ul class="pagination justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Contact", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left mr-2"></i>Geri</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous" aria-disabled="true">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left mr-2"></i>Geri</span>
                </span>
            </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Contact", new { page = i})">@i</a>
            </li>
        }

        @if (Model.PageNumber < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Contact", new { page = Model.PageNumber + 1 })" aria-label="Next">
                    <span>İleri<i class="fa fa-angle-double-right ml-2"></i></span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next" aria-disabled="true">
                    <span>İleri<i class="fa fa-angle-double-right ml-2"></i></span>
                </span>
            </li>
        }
    </ul>
</nav>