@*@model List<EntityLayer.Concrete.Test>*@
@*@model List<TestListViewModel>*@
@model X.PagedList.IPagedList<TestListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@*<div class="block category-listing">
    <h3 class="news-title"><span>@Model[0].TestCategory.TestCategoryName</span></h3>
</div>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-6">
            <div class="post-block-wrapper post-grid-view clearfix">
                <div class="post-thumbnail">
                    <a asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">
                        <img class="img-fluid" src="~/newsbit-main/theme/images/news/news-17.jpg" alt="post-thumbnail" />
                    </a>
                </div>
                <div class="post-content">
                    <a class="post-category" asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">@item.Title</a>
                    <h2 class="post-title mt-3">
                        <a asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">@item.Title</a>
                    </h2>

                </div>
            </div>
        </div>
    }


</div>

*@



@*<h2>Test Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Test Adı</th>
            <th>Kategori</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.TestCategory.TestCategoryName</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@test.TestID">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


@foreach (var categoryGroup in Model.GroupBy(item => item.TestCategoryName))
{
    <div class="block category-listing">
        <h3 class="news-title"><span>@categoryGroup.Key</span></h3>
    </div>
    <div class="row">
        @foreach (var item in categoryGroup)
        {
            <div class="col-md-6 col-sm-6">
                <div class="post-block-wrapper post-grid-view clearfix">
                    <div class="post-thumbnail">
                        <a asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">
                            <img class="img-rounded" width="304" height="236" src="@item.SignedUrl" alt="post-thumbnail" />
                        </a>
                    </div>
                    <div class="post-content">
                        <a class="post-category" asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">@item.Title</a>
                        <h2 class="post-title mt-3">
                            <a asp-controller="Test" asp-action="Detail" asp-route-testId="@item.TestID">@item.Title</a>
                        </h2>
                    </div>
                </div>
            </div>
        }
    </div>
}


<nav aria-label="pagination-wrapper" class="pagination-wrapper">
    <ul class="pagination justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Test", new { page = Model.PageNumber - 1, testId = ViewBag.TestId })" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left mr-2"></i>Previous</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous" aria-disabled="true">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left mr-2"></i>Previous</span>
                </span>
            </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Test", new { page = i, testId = ViewBag.TestId })">@i</a>
            </li>
        }

        @if (Model.PageNumber < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Test", new { page = Model.PageNumber + 1, testId = ViewBag.TestId })" aria-label="Next">
                    <span>Next<i class="fa fa-angle-double-right ml-2"></i></span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next" aria-disabled="true">
                    <span>Next<i class="fa fa-angle-double-right ml-2"></i></span>
                </span>
            </li>
        }
    </ul>
</nav>
